:root {
  --color-gold: #dcb854;
}
#toggle {
  display: none;
}
.LabelBtn p::before {
  content: "";
  display: block;
  position: relative;
  height: 24px;
  width: 2px;
  border-radius: 1px;
  left: 110px;
  top: 26px;
  background-color: var(--color-gold);
}
.LabelBtn p::after {
  content: "";
  display: block;
  position: relative;
  height: 2px;
  width: 102px;
  border-radius: 1px;
  top: 1px;
  background-color: var(--color-gold);
}
p#toglle::after {
  transform: translateX(110px);
  scale: 1.18;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 1280px) {
  .LabelBtn p::before {
    content: "";
    display: block;
    position: relative;
    height: 27px;
    width: 2px;
    border-radius: 1px;
    left: 120px;
    top: 24px;
    background-color: var(--color-gold);
  }
  .LabelBtn p::after {
    content: "";
    display: block;
    position: relative;
    height: 2px;
    width: 112px;
    border-radius: 1px;
    top: 1px;
    background-color: var(--color-gold);
  }
  p#toglle::after {
    transform: translateX(120px);
    scale: 1.18;
  }
}
